<form class="example-form mt-50" (ngSubmit)="userRegisteration()">

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.userName" name="userName" type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input name="email" [(ngModel)]="data.email" name="email"  matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="data.password" name="password"  [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="text-center container">
        <button type="submit" mat-raised-button color="primary">SignUp</button>
    </div>
</form>