.tooltip-red {
    background: #b71c1c;
  }

.writing-box {
    width: 80%;
    height: 100%;
    margin: 100px auto;
    background: none;
}

textarea {
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow: auto;
    overflow-y: auto;
    overflow-x: scroll;
    overflow: -moz-scrollbars-vertical;
    padding-bottom: 50px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    line-height: 40px;
}

textarea:focus {
    border: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.right-align {
    display: flex;
    align-items: flex-end;
    right: 0;
    top: 0;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.text-length {
    display: block;
    font-weight: 500;
}

audio {
    display: none;
}

/* Colouring based on Theme  */
.black {
    color: white;
}